/* 
    Document   : main
    Created on : 27-sep-2013, 9:08:52
    Author     : Sander
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: arial;
    color: #222;

    background-image: url('../img/chrono_landscape.jpg');
    background-size: cover;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
}

#buttons {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

#timer {
    text-align: center;
    height: 100%;
    font-size: 48px;
}

table {
    height: 100%;
    width: 100%;
}

#timer table {
    width: 50%;
}

td {
    width: 100%;
}

.button {
    margin: 1%;
    margin-top: 5%;
    height: 25%;
    background-color: #222;
    color: #FFF;
    font-size: 32px;
}

.button:hover {
    background-color: #b3bead;
    color: #222;
}

.button:active {
    background-color: #FFF;
}

@media screen and (orientation: portrait) {
    body, html {
        background-image: url('../img/chrono_portrait.jpg');
        background-size: cover;
        overflow: hidden;
    }
    #buttons {
        width: 100%;
        position: absolute;
        text-align: center;
        margin: 50% auto;
    }
    .button {
        width: 31%;
        font-size: 24px;
        float: left;
    }
    table:first-child {
        height: 50%;
    }
}